fastapi
uvicorn
python-dotenv
google-generativeai
google-cloud-texttospeech
google-cloud-speech
mediapipe
opencv-python
numpy
pypdf
pydub
SpeechRecognition
python-multipart
websockets
gtts
passlib[bcrypt]
python-jose[cryptography]
multipart
google-cloud-speech
google-cloud-texttospeech
bcrypt<4.0.0
