@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Scrollbar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #111; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 3px; }
::-webkit-scrollbar-thumb:hover { background: #555; }